html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #080808;
    color: #ffffff;
}

#bg{
    width: 100%;
    height: 100vh;
    background-image: url(ai2.jpg);                                              
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    padding: 15px 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 120px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}



nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}

.maintext{
    margin-top: 20%;
    font-size: 25px;

}

.maintext h1{
    font-size: 60px;
    margin-top: 20px;
}

.maintext h1 span{
    color:rgb(186, 86, 4);
}

/*about*/
#about{
    padding: 80px 0;
    color: rgb(199, 186, 186);
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col1{
    flex-basis: 35%;
}

.col1 img{
    width: 100%;
    border-radius: 15px;
}

.col2{
    flex-basis: 60%;
}

.text{
    font-size: 60px;
    font-weight: 600;
    color:#ffffff;
}

.subs{
    display: flex;
    margin: 20px 0 40px;
}

.link-sub{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.link-sub::after{
    content: '';
    width: 0%;
    height: 3px;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.link-sub.active-link::after{
    width: 60%;
}    

.sub-content ul li{
    list-style: none;
    margin: 10px 0;
}
.sub-content ul li span{
    color: orange;
    font-size: 14px;
}

.sub-content{
    display: none;
}
.sub-content.current-tab{
    display: block;
}

/*services*/
#projects{
    padding: 30px 0;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.projects-list div{
    background: rgb(186, 86, 4);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.projects-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.projects-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.projects-list div a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.p-subs{
    font-size: 60px;
}

.projects-list div:hover{
     background: orange;
     transform: translateY(-10px);
}
/*achievements and certificates*/

#achieve{
    padding: 50px 0;
}

.certificates{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
}

.work:hover img{
    transform: scale(1.1);
}

/*contact*/
.contactleft{
    flex-basis: 35%;
}

.contactright{
    flex-basis: 60%;
}

.contactleft p{
    margin-top: 30px;
}

.contactleft p i{
    color: orange;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: rgb(224, 128, 12);
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: white;
    transform: translateY(-5px);
}

.btn{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid white;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: orange;

}
.btn:hover{
    background-color: orange;
    color: #080808;
}

.contactright form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: orange;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}

.btn.btn2{
    padding: 14px 60px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: black;
    color: orange;
}
.btn.btn2:hover{
    background-color: orange;
    color: black;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
#msg{
    color:white;
    margin-top: -20px;
    display: block;
}